.slogans-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slogan-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slogan-item {
  width: 43%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #f2f2f2;
  color: #1a181e;
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  gap: 0.7rem;
}

.pagination-main {
  display: flex;
  margin-top: -48px;
  justify-content: space-between;
}

.pagination-pages {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination-main p {
  color: #146eb4;
  cursor: pointer;
}

.pagination-pages .active {
  background: #146eb4;
  color: #ffffff;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  text-align: center;
}

.pagination-btn {
  background-color: #ffffff;
  color: #146eb4;
  border: none;
  height: 22px;
  font-size: 14px;
  text-align: center;
}

.active {
  background: #146eb4;
  color: #ffffff;
  border-radius: 50%;
  border: 0px;
  height: 22px;
  width: 22px;
  text-align: center;
}

.pagination-numbers {
  gap: 15px;
}
