.feature-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 352px;
  opacity: 1;
}

.feature-card p {
  color: #4d4d4d;
}
