.header {
  width: 100%;
  height: 328px;
  background: #146eb4;
}

.nav-container {
  display: flex;
  color: white;
  justify-content: space-between;
  padding-top: 32px;
}

.nav-container p {
  font-size: 18px;
}

.nav-align {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}
